{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
</br>
<body style="background-color:whitesmoke; color:cornflowerblue">
    <h1 align="center">Add Clothing to Your Closet</h1>
    </ul>
    <form method="POST">
      <div class="form-group">
        <label for="type">Type:</label>
        <input 
            type="text" 
            class="form-control" 
            id="type" 
            name="type" 
            placeholder="Enter clothing type"
        />
      </div>
      <div class="form-group">
        <label for="color">Color:</label>
        <input 
            type="text" 
            class="form-control" 
            id="color" 
            name="color" 
            placeholder="Enter color"
        />
      </div>
      <div class="form-group">
        <label for="seasons">Seasons:</label>
        <p style="color:#51717f">
          <em>
            Hold control/command to select multiple seasons
          </em>
        </p>
        <select id="seasons" name="seasons" size="4" multiple>
          <option value="winter">Winter</option>
          <option value="spring">Spring</option>
          <option value="fall">Fall</option>
          <option value="summer">Summer</option>
        </select>
      </div>
    </br>
      <div class="form-group">
        <label for="size">Size:</label>
        <input list="sizes" type='text' id="size" name="size">
        <datalist id="sizes">
          <option value="XS">
          <option value="S">
          <option value="M">
          <option value="L">
          <option value="XL">
        </datalist>
      </div>
      
      <div class="form-group">
        <label for="stored-in">Stored:</label>
        <datalist id="s">
          <option value="Closet">Closet</option>
          <option value="Drawers">Drawers</option>
          <option value="Under Bed">Under Bed</option>
        </datalist>
        <input list="s" type='text' id="storage-choice" name="storage-choice">
      </div>
    </br>
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Clothing</button>
      </div>
    </form>
  </body>
    {% endblock %}
